@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.menuActive {
  width: 96px;
  height: 55px;
  background: #141414;
  border: 1px solid #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  overflow: hidden; 
}

.menuActive::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%; 
  height: 300%; 
  background: rgba(114, 122, 143, 0.2); 
  transform: translate(-50%, -50%) scale(0);
  animation: fluidEffect .8s ease; 
}

@keyframes fluidEffect {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0; 
  }
}
/* 
a:not(:has(> img)) {
  position: relative;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.6; 
  text-decoration: none !important; 
}

a:not(:has(> img)):after {
    display: block;
    position: absolute;
    left: 50%; 
    width: 0;
    height: 2px; 
    background-color: #ffffff; 
    content: "";
    transition: width 0.5s ease-out, left 0.5s ease-out;
    transform: translateX(-50%);
}

a:not(:has(> img)):hover:after,
a:not(:has(> img)):focus:after {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
} */




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
